@(title: String)(content: Html)

<!DOCTYPE html>

<html>
  <head>
    <title>@title</title>
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/mono-blue.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon-16x16.png")" sizes="16x16" />
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon-32x32.png")" sizes="32x32" />
    <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/highlight.pack.js")" type="text/javascript"></script>
    <script>hljs.initHighlightingOnLoad();</script>
  </head>
  @content
</html>
